// 控制面板
.dz-player-hide-controller {
    .dz-player-control-panel {
      display: none;
    }
  }
  .dz-player-control-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    // 播放按钮
    .dz-player-play-icon,
    .dz-player-loading {
      color: white;
      cursor: pointer;
      overflow: hidden;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      box-sizing: border-box;
      display: grid;
      place-content: center;
      svg {
        width: 50px;
        height: 50px;
      }
    }
  
    @keyframes dz-player-loading-keyframes {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  
    .dz-player-loading {
      pointer-events: none;
      background-color: rgba(255, 255, 255, 0.4);
  
      // 加载动画
      svg {
        animation: dz-player-loading-keyframes 1s infinite;
        width: 40px;
        height: 40px;
      }
    }
    // 底部控制栏
    .dz-player-control-bar {
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
      height: 35px;
      user-select: none;
      transition: all 0.3s ease;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.4));
      color: white;
      padding: 0 10px;
      box-sizing: border-box;
      display: flex;
      gap: 8px;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      .control-bar-left{
        flex: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        .dz-player-seek-slider {
          width: 100%;
          flex: 1;
        }
        .control-play{
          width: 20px;
          height: 20px;
          margin-right: 10px;
          cursor: pointer;
          svg{
            width: 100%;
            height: 100%;
          }
        }
        .control-flush{
          width: 20px;
          height: 20px;
          margin-right: 10px;
          transition: all .3s;
          -webkit-transition:all .3s;
          cursor: pointer;
          svg{
            width: 100%;
            height: 100%;
          }
          &:hover{
            transform:rotate(180deg);
            -webkit-transform:rotate(180deg);
          }
        }
        .live-text{
          white-space: nowrap;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          margin: 0;
          padding: 0px;
          scale: .8;
          color:#fff;
          font-size: 16px;
          img{
            width: 14px;
            height: 14px;
          }
        }
        .dz-player-play-time {
          font-family: Menlo, Courier New, Consolas, Lucida Console, Courier, monospace;
          font-size: 14px;
          text-align: center;
          user-select: none;
          min-width: 120px;
          margin-left: 8px;
        }
        .dz-player-play-time-tip {
          display: none;
          width: 50px;
          text-align: center;
          position: absolute;
          top: -30px;
          left: -10px;
          pointer-events: none;
          background-color: #000;
          color: #fff;
          padding: 5px;
          border-radius: 4px;
          font-size: 14px;
  
          &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            border-width: 6px;
            border-style: solid;
            border-color: #000 transparent transparent transparent;
          }
        }
      }
      .control-bar-right{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
        .dz-player-volume-slider {
          width: 60px;
        }
        .dz-player-volume-bar {
          margin-right: 15px;
          max-width: 80px;
          width: 80px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
  
        .dz-player-volume-icon,
        .dz-player-fullscreen {
          display: inline-block;
          width: 20px;
          height: 20px;
          text-align: center;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
  